<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/font/climacons-font.css" rel="stylesheet" type="text/css" media="all">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/modernizr.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <a class="brand" href="{{ HOME_PATH }}">
          <img src="{{ ASSET_PATH }}/images/point_97_logo.svg" alt="point nine seven logo" />
        </a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Experience</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Team</a></li>
          <li class="widget">
            <a href="#"><span id="climate-icon" class="climacon cloud" aria-hidden="true" style="color: white;"></span><span class="number">64&deg;</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="root">
      <div class="content">
        {{ content }}
      </div>
    </div>
      


    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Technology solutions and engagement strategies for <span class="blue">marine</span> &amp; coastal planning.</h2>
        </div>
        <div class="col-md-4">
          <h3>Get In Touch</h3>
          <p>Interrogas me, et non quaestiones dicam non jacet.</p>
          <p><strong>Call</strong> {{ site.author.phone }}</p>
          <p><strong>Email</strong> {{ site.author.email }}</p>
       </div>
      </div>
    <div class="row">
      <!-- <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        </p>
      </footer> -->
    </div>
    </div>
    {% include JB/analytics %}
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery.event.move.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery.event.swipe.js"></script>
    <script src="{{ ASSET_PATH }}/js/main.js"></script>
  </body>
</html>
