.navbar {
    margin-top: 30px;
    z-index: 1000;
    background-color: inherit !important;
}
.navbar .brand {
    height: 170px;
}
.navbar .nav {
    float: right;
}
.navbar .navbar-nav a{
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus {
    color: white;
    background-color: inherit;
}
#carousel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
#carousel-wrapper .carousel, #carousel-wrapper .carousel .carousel-inner, #carousel-wrapper .carousel .item, #carousel-wrapper .carousel .container {
    height: 100%;
    width: 100%;
}
	.carousel .lens {
		top: 25%;
		border: 5px solid white;
		height: 50%;
		min-height: 400px;
		padding: 0 0;
		margin-top: 0;
		color: black;
		text-shadow: none;
	}
	.carousel .lens  h1 {
		margin: 0 0;
		color: black;
		font-size: 22px;
		text-transform: uppercase;
		margin-bottom: 5%;
	}
	.carousel .lens p {
		text-align: left;
	}
	.carousel .lens .lens-panel {
		width: 35%;
		height: 100%;
		background-color: white;
	}
		.carousel .lens .lens-panel .lens-panel-contents{
			padding: 20% 10%;
		}
/* posts index */
 .post > h3.title {
    position: relative;
    padding-top: 10px;
}
.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}
.post > .more {
    margin: 10px 0;
    text-align: left;
}
/* post-full*/
 .post-full .date {
    margin-bottom: 20px;
    font-weight: bold;
}
/* tag_box */
 .tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.tag_box li {
    line-height: 28px;
}
.tag_box li i {
    opacity: 0.9;
}
.tag_box.inline li {
    float: left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}
.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}
.tag_box a:hover {
    background-color: #e5e5e5;
}
.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}
