@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../font/MuseoSans_500-webfont.eot');
    src: url('../font/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/MuseoSans_500-webfont.woff') format('woff'),
         url('../font/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../font/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


iframe {
    background-color: rgb(32,85,57);
}

html, body {
    height: 100%;
}


.team {
    margin-bottom: 20px;
}


.thumbnail {
    border: 0 !important;
    padding: 10px 0;
}

.thumbnail .caption h3 {
    font-size: 18px;
    margin-top: 5px;
}

.container-wide { width: 100%; margin: 0 auto;}


.faded {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
 opacity: 0;   
}
/*html, body {
    height: 100%;
}
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'museo_sans_500regular' !important;
}

p {
    /*font-family:Georgia, serif !important;*/
    font-size: 16px;
    -ms-word-break: break-all;
         word-break: break-word;
    -webkit-hyphens: auto;
            hyphens: auto;
}
.page-content {
    margin-top: 140px;
}

.btn {
    font-family: 'museo_sans_500regular' !important;
}

.navbar {
    margin-top: 20px;

    
}

.navbar-default {
    
    border: 0px !important;
    position: absolute !important;
}

.container.brand-container, .navbar .container {
    background-color: white !important;
}

.main-container {
    padding-top: 40px;
}

    .main-container .row {
        margin-bottom: 40px;
    }
    .main-container h3 {
        margin-bottom: 0;
    }
    .main-container p {
        margin-bottom: 0;
    }
    .main-container .dark {
        margin-bottom: 5px;
    }

/*.brand-container {
    margin-left: -15px!important;
    margin-right: -15px !important;
}
*/
.transparent .navbar-default {
    background-color: rgba(0,0,0,0) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=0);
}
    .transparent .navbar-default .container {
        background-color: rgba(0,0,0,0) !important;
    }

.navbar .brand {
    height: 170px;
    margin-left: 0 !important;
}

.

.navbar-default .navbar-toggle {
    margin-top: 30px !important;
    margin-right: 30px !important;
}

.navbar-default .navbar-nav>li>a{
    font-family: 'museo_sans_500regular' !important;
	color: rgb(50,50,50) !important;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.light .navbar-default .navbar-nav>li>a {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.nav>li>a:hover, .nav>li>a:focus, .navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus {
    color: rgb(31, 150,169) !important;
    background-color: inherit !important;

}

.navbar .navbar-nav>.widget>a:hover {
    background-color: inherit !important;
}

.navbar-right {
    margin-top: 20px !important;
}

.navbar .widget {
    width: 65px;
    color: white;
}
.navbar .widget .number {
    font-size: 18px;
}

.navbar .widget .climacon {
    font-size: 32px;
}
.navbar .widget .moon {
    font-size: 34px;
}

.navbar .weather-window {
    margin-top: -10px;
    /*padding: 10px;*/
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}
.widget .dropdown-toggle {
    padding-top: 5px;
}



.navbar-collapse.collapsing, .navbar-collapse.in {
    background-color: rgba(255,255,255,.7);
        text-shadow: none;
}

.navbar-collapse.collapsing a, .navbar-collapse.in a{
    color: black !important;
}

.nav .glyphicon {
    font-size: 16px;
}

.navbar>.container .navbar-brand {
    margin-left: 5px !important;
}
.navbar-nav>li>.dropdown-menu {
    width: 400px;
    height: 200px;
    padding: 0;
}

    .navbar-nav>li>.dropdown-menu .row {
        margin: 0 0;
    }
    .navbar-nav>li>.dropdown-menu .image-box {
        padding-left: 0;
        position: relative;
    }
    .navbar-nav>li>.dropdown-menu .image-box .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 20px;
        width: 250px;
        background-color: rgba(30,30,30, .5);
        color: whitesmoke;
    }
#carousel-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.carousel-control i{
position: absolute;
top: 50%;
left: 15px;
z-index: 5;
display: inline-block;
font-size: 72px;
font-weight: normal;
}
.carousel-control.right i{ 
    right: 15px;
    left: auto;
}
img.stretch {
    width: 100%;
    
}
.thumbnail img {
    width: 100% !important;
}
.blue {
    color: rgb(31, 150,169);
}
.root {
    height: 85%;
    background-color: white;
}
.root .content {
    height: 100%;
}
.map-attribution {
    display: none;
}

.about img {
    width: 100%;
}
.about p {
    font-size: 16px;
}
.container {
    background-color: rgb(230,230,230) !important;
}
.about .bug {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
}

.dark {
    color: rgb(0,0,0);
    font-weight: bold;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgb(32,85,57);
}
#map.short-map {
    height: 175px;
}

.simplestyle-marker {
    z-index: 500!important;
}
.post-full {
    /*margin-top: 200px;*/
}
#carousel-wrapper .carousel, #carousel-wrapper .carousel .carousel-inner, #carousel-wrapper .carousel .item, #carousel-wrapper .carousel .container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0) !important;
}
    #carousel-wrapper iframe {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
	.carousel .lens {
		top: 25%;
        bottom: auto;
		border: 5px solid white;
		height: 400px;
        overflow: hidden;
		padding: 0 0;
		margin-top: 0;
		color: black;
		text-shadow: none;
	}
    .carousel .lens .product-icon {
        position: absolute;
        bottom: 5px;
        left: 8%;
    }
    .carousel .lens .product-icon img {
        height: 50px;
    }
	.carousel .lens  h1 {
		margin: 0 0;
		color: black;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 5px;
        text-align: left;
	}
    .carousel .lens  h2 {
        margin: 0 0;
        color: black;
        font-size: 16px;
        margin-bottom: 5%;
        text-align: left;
    }
	.carousel .lens p {
		text-align: left;
	}
    
	.carousel .lens .lens-panel {
		width: 35%;
		height: 100%;
		background-color: white;
        position: relative;
	}
    .carousel .lens .lens-panel .lens-panel-text {
        height: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .carousel .lens .lens-panel ul {
        position: absolute;
        bottom: 0;
    }
		.carousel .lens .lens-panel .lens-panel-contents{
			padding: 10% 10%;
		}
    .lens .btn-group {
        position: absolute;
        bottom: 10px;
        right: 25px;
    }
    .lens.lens-wide {
        background-color: white;
        height: 175px;
        padding: 20px;
        top: 17%;
    }
    .lens.lens-left {
        background-color: white;
        min-height: fit-content;
        padding: 20px;
        top: 20%;
        width: 30%;
    }
/* posts index */
 .post > h3.title {
    position: relative;
    padding-top: 10px;
}
.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}
.post > .more {
    margin: 10px 0;
    text-align: left;
}
/* post-full*/
 .post-full .date {
    margin-bottom: 20px;
    font-weight: bold;
}
/* tag_box */
 .tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.tag_box li {
    line-height: 28px;
}
.tag_box li i {
    opacity: 0.9;
}
.tag_box.inline li {
    float: left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}
.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}
.tag_box a:hover {
    background-color: #e5e5e5;
}
.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

.thumbnail img {
    min-height: 100px;
}

@media only screen and (max-width: 529px) {
    .navbar {
        margin-top: 0 !important;
    }
    .root {
        height: 450px;
    }

    .carousel .lens {
        height: 320px;
        top: 100px !important;
    }
    .carousel .lens .lens-panel .lens-panel-text {
        height: 295px;
    }
    .carousel .lens .lens-panel {
        width: 58% !important;
    }
    .carousel-caption {
        left: 10px !important;
        right: 10px !important;
    }

}

@media only screen and (min-width: 530px) and (max-width: 699px) {
    .carousel-caption {
        left: 5% !important;
        right: 5% !important;
    }
}

@media only screen and (min-width: 700px) and (max-width: 949px) {

    .carousel-caption {
        left: 10% !important;
        right: 10% !important;
    }
    .navbar>.container .navbar-brand {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1169px) {
    .carousel-caption {
        left: 10% !important;
        right: 10% !important;
    }
}


@media only screen and (min-width: 1170px) {
    .carousel-caption {
        left: 20% !important;
        right: 20% !important;
    }
}

