@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../font/MuseoSans_500-webfont.eot');
    src: url('../font/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/MuseoSans_500-webfont.woff') format('woff'),
         url('../font/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../font/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


iframe {
    background-color: rgb(32,85,57);
    pointer-events: nonete;
}



.faded {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
 opacity: 0;   
}
/*html, body {
    height: 100%;
}
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'museo_sans_500regular' !important;
}

.btn {
    font-family: 'museo_sans_500regular' !important;
}

.navbar {
    margin-top: 20px;
    z-index: 1000;
    background-color: inherit !important;
    position: absolute !important;
    width: 85%;
}
.navbar .brand {
    height: 170px;
}
.navbar .nav {
    margin-top: 10px;
    float: right;
}
.navbar .navbar-nav a{
    font-family: 'museo_sans_500regular' !important;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.nav>li>a:hover, .nav>li>a:focus, .navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus {
    background-color: inherit !important;
    
}
.navbar .widget {
    margin-top: 0px;
    width: 65px;
    color: white;
}
.navbar .widget .number {
    font-size: 18px;
    margin-top: -5px;
}

.navbar .widget .climacon {
    font-size: 32px;
}
.navbar .widget .moon {
    font-size: 34px;
}

.navbar .weather-window {
    margin-top: -10px;
    /*padding: 10px;*/
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}
.widget .dropdown-toggle {
    padding-top: 5px;
}



.nav .glyphicon {
    font-size: 16px;
}


.navbar-nav>li>.dropdown-menu {
    width: 400px;
    height: 200px;
    padding: 0;
}

    .navbar-nav>li>.dropdown-menu .row {
        margin: 0 0;
    }
    .navbar-nav>li>.dropdown-menu .image-box {
        padding-left: 0;
        position: relative;
    }
    .navbar-nav>li>.dropdown-menu .image-box .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 20px;
        width: 250px;
        background-color: rgba(30,30,30, .5);
        color: whitesmoke;
    }
#carousel-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.blue {
    color: rgb(31, 150,169);
}
.root {
    height: 800px;
}
.root .content {
    height: 100%;
}
.map-attribution {
    display: none;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgb(32,85,57);
}
#map.short-map {
    height: 175px;
}
.post-full {
    margin-top: 200px;
}
#carousel-wrapper .carousel, #carousel-wrapper .carousel .carousel-inner, #carousel-wrapper .carousel .item, #carousel-wrapper .carousel .container {
    height: 100%;
    width: 100%;
}
    #carousel-wrapper iframe {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
	.carousel .lens {
		top: 25%;
        bottom: auto;
		border: 5px solid white;
		height: 400px;
        overflow: hidden;
		padding: 0 0;
		margin-top: 0;
		color: black;
		text-shadow: none;
	}
	.carousel .lens  h1 {
		margin: 0 0;
		color: black;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 5px;
        text-align: left;
	}
    .carousel .lens  h2 {
        margin: 0 0;
        color: black;
        font-size: 16px;
        margin-bottom: 5%;
        text-align: left;
    }
	.carousel .lens p {
		text-align: left;
	}
    
	.carousel .lens .lens-panel {
		width: 35%;
		height: 100%;
		background-color: white;
        position: relative;
	}
    .carousel .lens .lens-panel .lens-panel-text {
        height: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .carousel .lens .lens-panel ul {
        position: absolute;
        bottom: 0;
    }
		.carousel .lens .lens-panel .lens-panel-contents{
			padding: 10% 10%;
		}
    .lens .btn-group {
        position: absolute;
        bottom: 10px;
        right: 25px;
    }
/* posts index */
 .post > h3.title {
    position: relative;
    padding-top: 10px;
}
.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}
.post > .more {
    margin: 10px 0;
    text-align: left;
}
/* post-full*/
 .post-full .date {
    margin-bottom: 20px;
    font-weight: bold;
}
/* tag_box */
 .tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.tag_box li {
    line-height: 28px;
}
.tag_box li i {
    opacity: 0.9;
}
.tag_box.inline li {
    float: left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}
.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}
.tag_box a:hover {
    background-color: #e5e5e5;
}
.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

.thumbnail img {
    min-height: 100px;
}

@media (max-width: 767px) {
    .nav-container .navbar .nav li {
        /*display: inline-block;    You can also add some margins here to make it look prettier 
            zoom:1;
            *display:inline; /* this fix is needed for IE7- */*/
    }
    .nav-container .navbar-nav {
        width: 60% !important;
    }
}


@media (min-width: 768px) { 
    .navbar .navbar-nav {
        margin-top: -5px;
        width: 75%;
    }
    .navbar .navbar-nav li a {
        padding: 5px 3px;
        font-size: 16px;
    }
    .navbar .navbar-nav .widget a {
        padding-top: 0;
        /*margin-top: 15px;*/
    }
    .navbar .brand img {
        height: 60px !important;
    }
    .root {
        height: 700px;
    }
}


@media (min-width: 1024px) { 
    .navbar .navbar-nav li a {
        padding: 5px 5px;
        font-size: 18px;
    }
    .navbar .navbar-nav {
        width: 70%;
    }
    .navbar .navbar-nav li a {
        margin-top: 10px;
        padding-top: 15px;
        font-size: 18px;
    }

}
@media (min-width: 1100px) { 
    .navbar .navbar-nav {
        width: 60%;
    }
}
@media (min-width: 1200px) { 
    .navbar .navbar-nav {
        width: 64%;
    }
    .navbar .brand img {
        height: 80px !important;
    }
    .container {
        max-width: 1100px !important;
    }
    .navbar .navbar-nav a{
        font-size: 24px !important;
        margin-top: 20px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar .navbar-nav .widget {
        padding-top: 8px !important;   
    }
}


@media (min-width: 1300px) {
    .container {
        /*max-width: 1200px !important;*/
    }
    .navbar .navbar-nav {
        width: 65%;
    }
    .navbar .brand img {
        height: 100px !important;
    }
    
    .navbar .navbar-nav a{
        font-size: 26px !important;
        margin-top: 30px !important;
     
    }
    /*.navbar {
        width: 72% !important;
    }*/
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px !important;
    }
    
    .navbar .navbar-nav {
        width:60%;
    }
}

/* ipad portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .navbar {
        /*width: 100%;*/
        left: 50px;
        top: 10px;
    }
    .navbar .brand img {
        height: 100px;
    }
    .navbar .navbar-nav {
        width: 60% !important;
        margin-top: 0;
    }
    .navbar .navbar-nav a {
        font-size: 20px !important;
    }
    .root {
        
    }
    .root .carousel .carousel-caption {
        right: 7%;
        left: 7%;
        height: 490px;
        top:  23%;
    }
}
/*  and (orientation:landscape)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .navbar {
        width: 92%;
    }
  .navbar .navbar-nav {
      width: 57% !important;
      margin-top: 10px;
  }
  .root {
      height: 570px !important;
  }
  .root .carousel .carousel-caption {
      right: 7%;
      left: 7%;
      height: 425px;
      top: 20%;
  }
}

/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3)  {
    h2 {
        font-size: 16px !important;
        margin-top: 10px !important;
    }
    .nav-container {
        padding-left: 5px !important;
    }
    .navbar {
        margin-top: 5px;
        width: 100%;
    }
    .nav-container .navbar .nav {
        margin: 0px 0px;
        width: 48% !important;
    }
    
    .nav-container .navbar .nav li {
        display: inline-block;   /* You can also add some margins here to make it look prettier */
            zoom:1;
            *display:inline; /* this fix is needed for IE7- */
    }
    .navbar .navbar-nav a {
        font-size: 14px;
        padding-top: 1px;
        padding-bottom: 1px;
        line-height: 1;
        text-align: right;
    }
    .navbar .widget {
        display: none !important;
    }
    .root {
        height: 280px;
    }
    .root .carousel-inner {
        
        padding-top: 20%;
    }
    .root .carousel-inner .lens {
        left: 5%;
        right: 5%;
        top: 40px;
        height: 150px !important;

    }
    .root .carousel-inner .carousel-caption h1 {
        font-size: 14px;
    }
    .root .carousel-inner .carousel-caption h2 {
        font-size: 12px !important;
    }
    .root .carousel-inner .lens p, .root .carousel-inner .lens .btn {
        display: none !important;
    }
    .carousel .lens .lens-panel {
        width: 44%;
        height: 100%;
    }

    .carousel .lens .lens-panel .lens-panel-contents {
        padding: 5% 5%;
    }
    .carousel-control {
        display: none;
    }
}

/*@media screen and (device-aspect-ratio: 2/3) and (orientation : landscape) {
    .navbar {
        width: 99% !important;
    }
    .navbar .brand img {
        height: 50px;
    }
   
    .nav-container .navbar .nav {
        width: 50% !important;
    }
    .navbar .navbar-nav a {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
}*/

/*iPhone 5:*/
@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait){
    .navbar {
        width: 100% !important;
        margin-top: 5px !important;
        margin-left: 5px !important;
    }
     .navbar .brand img {
        height: 40px;
        margin-top: 4px;
    }
    .nav-container .navbar .nav {
        margin-top: 0px;
    }
    .navbar-nav > li > a {
        padding-top: 0px  !important;
        padding-bottom: 0px  !important;
        line-height: 10px  !important;
    }
    .nav-container .navbar-nav {
        width: 70% !important;
    }
    .navbar .navbar-nav a {
        font-size: 10px !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-container .navbar .nav li {
        display: inline-block;   /* You can also add some margins here to make it look prettier */
            zoom:1;
            *display:inline; /* this fix is needed for IE7- */
    }
    .navbar .widget  {
        display: none !important;
    }
    .carousel .carousel-control {
        display: none!important;
    }
    h1 {
        font-size: 12px !important;
    }
    h2 {
        font-size: 10px !important;
    }

    .brand-container h2 {
        margin-top: 10px;
        font-size: 16px;
    }
    .root .carousel-inner .lens {
        left: 25px;
        right: 25px;
        top: 65px;
        height: 310px !important;

    }
    .root .carousel-inner .lens { 

    }
    .carousel .lens .lens-panel {
        width: 40%;
    }
    .carousel .lens .lens-panel .lens-panel-contents {
    padding: 10px 5px;
    }

    .lens-panel-text p {
        font-size: 10px;
    }
    .lens .btn {
        display: none;
    }
    .root {
        height: 400px;
    }
   
}

@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .navbar {
        width: 100% !important;
        margin-top: 5px !important;
        margin-left: 5px !important;
    }
     .navbar .brand img {
        height: 40px;
    }
    .nav-container .navbar .nav {
            margin-top: 0px;
        }
    /*.nav-container .navbar .navbar-nav {
        width: 100% !important;
    }*/
    .nav-container .navbar .nav li {
        display: inline-block;   /* You can also add some margins here to make it look prettier */
            zoom:1;
            *display:inline; /* this fix is needed for IE7- */
    }
    .navbar .navbar-nav a {
        font-size: 10px !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .root .carousel-inner {
        padding-top: 0px;
    }
    .root {
        height: 175px;
    }
    .root .carousel-inner .lens {
        left: 5%;
        right: 5%;
        top: 60px;
        height: 100px !important;

    }
    .lens-panel-text p, .lens .btn {
        display: none;
    }
    .navbar .widget  {
        display: none !important;
    }
    .carousel .carousel-control {
        display: none!important;
    }
    h1 {
        font-size: 12px !important;
    }
    h2 {
        font-size: 10px !important;
    }
    .brand-container h2 {
        margin-top: 10px;
        font-size: 16px;
    }

}
/* samsung galaxy */
@media screen and (device-width: 320px) and (device-height: 640px)

}

/* nexus 4 */
@media screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2)  {
 .nav-container .navbar .nav {
     width: 55% !important;
 }   
}

